<div id="wrapper">
  <form action="/lookups/new" method="post" accept-charset="utf-8">
    <input type="text" name="lookup[domain]" value="" id="lookup_domain" placeholder="Domain"/>
    <input type="text" name="lookup[ip]" value="" id="lookup_ip" placeholder="Ip"/>

    <input type="submit" name="submit" class="btn btn-primary" value="Create"/>
  </form>
</div>
