<div id="wrapper">
  <%= render 'form' %>

  <table class="table table-stripped">
  <% @lookups.each do |lookup| %>
    <thead>
      <th>Domain</th>
      <th>Ip</th>
      <th>Trust</th>
    </thead>
    <tr>
      <td><%= lookup.domain %></td>
      <td><%= lookup.ip %></td>
      <td><%= lookup.trust %></td>
    </tr>
  <% end %>
</div>
