<div id="wrapper">
  <form action="/requests/new/" method="post" accept-charset="utf-8">
    <input type="text" name="request[domain]" value="" placeholder="Domain"/>
    <input type="submit" class="btn btn-primary" name="submit" value="Create"/>
  </form>
</div>
